<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- options %>
</head>
<body>
    <div class="root">
        <%- header %>

        <h1>Posts</h1>

        <% posts.forEach(post => { %>
            <a href="/<%= post.id %>">
                <div class="post-link">
                    <div class="post-title"><%= post.title %></div>
                    <div class="post-subtitle"><%= post.subtitle %></div>
                </div>
            </a>
            
        <% }) %>
        <%- footer %>

        <script>
            feather.replace();
        </script>
    </div>
</body>
</html>